<!DOCTYPE HTML>
<HTML>
	{% load static %}
	{% block content %}
	<HEAD>
		<meta charset="utf-8">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		<title>Таблиця студентів</title>
	</HEAD>
	<BODY>
	<h1 style="text-align:center">Перелік студентів</h1>
	<form method="post" id="stud_add_form">
	{% csrf_token %}
	<table class="table">
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Ім'я</th>
			<th scope="col">Прізвище</th>
			<th scope="col">Адреса</th>
			<th scope="col">Місто</th>
		</tr>
		<tbody>
		{% for tmp_row in stud_list %}
		<tr>
			{% for tmp_elem in tmp_row %}
			<td>{{tmp_elem}}</td>
			{% endfor %}
		</tr>
		{% endfor %}
		<tr>
			<td><input type="text" id="id_txt" name="id_txt" /></td>
			<td><input type="text" id="name_txt" name="name_txt" /></td>
			<td><input type="text" id="surname_txt" name="surname_txt" /</td>
			<td><input type="text" id="addres_txt" name="addres_txt" /</td>
			<td><input type="text" id="city_txt" name="city_txt" /</td>
		</tr>
		</tbody>
	</table>
	<div class="container">
	<div class="row">
	<div class="d-grid gap-2 col-6 mx-auto"> <button type="submit" class="btn btn-primary MainPageText-1">Зберегти</button> </div>
	  </div>
	</div>
	</form>
	</BODY>
	{% endblock %}
</HTML>